@font-face {
    src: url(../fonts/Raleway-Regular.woff) format('woff'),
         url(../fonts/Raleway-Regular.woff2) format('woff2');
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url(../fonts/Raleway-Bold.woff) format('woff'),
         url(../fonts/Raleway-Bold.woff2) format('woff2');
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
}


.body {

}

.header {
  display: grid;
  height: 293px;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  /*Описание шрифта*/
  font-family: Relevay;
  font-style: Regular;
  font-size: 18px;
}

.header__links-list {
  width: 391.48px;
  gap: 31.48px;
  margin: 133px 0px 138px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: circle;
  height: 22px;
}

.header__links-list-item {
  text-decoration: underline;
  padding-left: 13.48px;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
  padding-left: 0px;
  text-decoration: none; 

}

.header__logo{
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  display: block;
  width: auto;
  height: auto;
  margin: 0 0;
}

.header__adress {
  max-width: 240px;
  justify-self: end;
  margin: 95px 50px 100px auto;
  
}

.main {

}

.cover {
  background-image: url(../images/cover.jpg);
  height: 757px;


}

.description {

}

.lots {
  margin: 180px 24px 24px 24px;
  width: 1052px;
  height: 595px;
}

.lots__heading {

}

.lots__card-list {

}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);

}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);

}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);

}

.about {
  margin: 180px 24px 0px 24px;
  width: 1052px;
  height: 595px;

}

.circle {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
}

.footer {
  margin-top: 180px;
  width: 1100px;
  height: 180px;

}

.footer_adress {

}

.footer_menu {

}


